{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load settings_value %}
{% block extra_head_title %}
	{% trans 'About' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4">
	<h3>{% trans 'About' %}</h3>
</div>
{% endblock header %}


{% block content %}

{% settings_value 'OPPIA_ANDROID_PACKAGEID' as package_id %}
{% blocktrans %}
	<p><a href="https://digital-campus.org/oppiamobile/">Learn-Renewables
	</a> is the mobile learning platform from <a href="https://digital-campus.org">
	Renewables-Liberia and Renewables-Salone</a> to deliver learning content, multimedia and quizzes on
	your smartphone. All the content and activities can	be accessed and used
	even when you don't have an internet connection available on your mobile.</p>
	<p>To get started with our courses, <a href="https://play.google.com/store/apps/details?id={{package_id}}">download the Learn-Renewables app</a>.
{% endblocktrans %}

<h3>{% trans 'Partners' %}</h3>
{% static "oppia/images/UAHlogo.jpg" as uah_logo%}
{% static "oppia/images/LMH-logo.png" as lmh_logo%}
{% static "oppia/images/CHA-logo.png" as cha_logo%}

{% blocktrans %}
	<p>The development of Learn-Renewables is made possible with the support and
collaboration of our partners:</p>
	<a href="https://uah.es/"><img src="{{ uah_logo }}" alt="UAH logo" style="margin:20px"/></a>	
	<a href="https://lastmilehealth.org/"><img src="{{ lmh_logo }}" alt="Last Mile Health logo" style="margin:20px"/></a>
	<a href="https://lastmilehealth.org/chacademy/"><img src="{{ cha_logo }}" alt="Community Health Academy logo" style="margin:20px"/></a>
{% endblocktrans %}

<h3>{% trans 'Previous Funders' %}</h3>
{% static "oppia/images/ukaid.png" as ukaid_logo %}
{% static "oppia/images/mPoweringlogo.jpg" as mpowering_logo %}
{% static "oppia/images/aecid-logo.png" as aecid_logo %}

{% blocktrans %}
	<a href="https://dfid.gov.uk/"><img src="{{ ukaid_logo }}" alt="UK AID logo" style="margin:20px"/></a>	
	<a href="http://www.aecid.es/"><img src="{{ aecid_logo }}" alt="AECID logo" style="margin:20px"/></a>
	<a href="https://mpoweringhealth.org/"><img src="{{ mpowering_logo }}" alt="mPowering logo" style="margin:20px"/></a>
{% endblocktrans %}

<h3>{% trans 'Contributors' %}</h3>
{% blocktrans %} 	
	<p>Acknowledgements and contributors to the code include:</p>
		<ul>
		<li>Safdar Ali & Durba Gogia - Hindi translation</li>
		<li>Roman Blanco - Spanish translation</li>
		<li>Marijs Carrin - for testing and development</li>
		<li><a href="https://github.com/jjoseba">Joseba</a> - technical development, performance improvements and bug fixes</li>
		<li>Adrián Domínguez - technical development, performance improvements and bug fixes</li>
		<li><a href="https://github.com/jbc25">Julio Berzal</a> - technical development, performance 
  improvements and bug fixes</li>
		<li>Laila Hussain - Urdu translation</li>
		<li><a href="http://lal.ngo">Lebanese Alternative Learning</a> - Arabic (Lebanese) translation and funding for drag and drop quizzes</li>
		<li><a href="http://lastmilehealth.org">Last Mile Health</a> - Funding for additional development</li>
		<li>David Gil de Gómez Pérez - technical development, performance improvements and bug fixes</li>
		<li><a href="https://github.com/lexm/">Lex Myers</a></li>
		<li><a href="https://github.com/hakimks">Kawesi Hakim</a></li>
		<li><a href="https://github.com/Ziirofans">Ziirofan</a></li>
	</ul>
	
{% endblocktrans %}

<h3>{% trans 'Code Libraries' %}</h3>
{% blocktrans %} 
	<ul>
		<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
		<li><a href="http://www.brightec.co.uk/blog/custom-android-media-controller">Brightec</a> - video controller</li>
		<li><a href="http://androidplot.com/">AndroidPlot</a> - for graphing library</li>
		<li><a href="http://square.github.io/okhttp/">OkHttp</a> - HTTP library</li>
		<li><a href="https://github.com/square/picasso">Picasso (by SquareUp)</a> - image caching library</li>
	</ul>
{% endblocktrans %}

<a id="terms"></a>
<h3>{% trans 'Terms and License' %}</h3>
{% blocktrans with settings.SERVER_EMAIL as email %}
<p>Learn-Renewables is a work in progress and is provided as-is. Not everything may work 100%, so if you find anything wrong, then <a href="https://community.oppia-mobile.org/">please let us know</a>.</p>

<h3>License</h3>
<p>Learn-Renewables is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>

<p>Learn-Renewables is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>

<p>You should have received a copy of the GNU General Public License
along with Learn-Renewables.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>

{% endblocktrans %}

{% endblock %}