{% load i18n %}
{% blocktrans %}
<p>Here is your new password for Learn-Renewables: {{ new_password }}</p>

<p>When you next log in, visit your profile page where you can update your
password to something more memorable.</p>

<a href="{{ site }}">{{ site }}</a>
{% endblocktrans %}