// Custom.scss
// Option A: Include all of Bootstrap

// Oppia colors
$oppia-lighter: #427be5;
$oppia-light: #3c7eca;
$oppia-mid: #3a5a9e;
$oppia-dark: #172c88;
$info-color: #828d83;

$navbar-dark-color: #fff;

$font-family-brand: 'Lato', sans-serif;
$font-family-emphasis: 'Montserrat', sans-serif;


$primary: (
  color: $oppia-mid,
  dark:  darken($oppia-mid, 10%),
  light: lighten($oppia-mid, 10%)
);
$secondary: (
  color: $oppia-dark,
  dark:  darken($oppia-dark, 10%),
  light: lighten($oppia-dark, 10%)
);
$info: (
  color: $info-color,
  dark:  darken($info-color, 10%),
  light: lighten($info-color, 10%)
);


$body-bg: #fcfcfc;
$jumbotron-bg: $oppia-light;
$pagination-bg: transparent;

$jumbotron-padding-y: 2rem;


$navbar-dark-toggler-border-color:transparent;

$card-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0, 45, 0, 0.2);

@import "./material/material";


#main-content{
    background-color: $body-bg;
}
body { background-color:$material-color-grey-100; min-height: 100vh; }
.flex-grow { flex: 1; }

.hidden {
    display: none!important;
    visibility: hidden!important;
}

// Import all Bootstrap extensions
@import './components/type';
@import './components/buttons';
@import './components/charts';
@import './components/tables';
@import './components/gamification';
@import './components/navdrawer';
@import './components/scrollbars';
@import './components/datepicker';
@import './components/spinner';
