{% load i18n %}
{% load display_functions %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans 'Exporting Activity' %} - Learn-Renewables</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<table>
    <caption class="d-none">{% trans "Activity" %}</caption>
	<tr>
		<th scope="col">{% trans 'Submitted Date' %} (*1)</th>
		<th scope="col">{% trans 'Tracker Date' %}  (*2)</th>
		<th scope="col">{% trans 'IP Address' %}</th>
		<th scope="col">{% trans 'User Agent' %} (*3)</th>
		<th scope="col">{% trans 'Data' %} (*4)</th>
		<th scope="col">{% trans 'Course' %} </th>
		<th scope="col">{% trans 'Section' %} </th>
		<th scope="col">{% trans 'Activity' %} </th>
		<th scope="col">{% trans 'Activity Type' %} </th>
		<th scope="col">{% trans 'Completed' %} (*5)</th>
		<th scope="col">{% trans 'Time Taken (in seconds)' %}</th>
		<th scope="col">{% trans 'Language' %} (*6)</th>
	</tr>
{% for a in activity %}
	<tr>
		<td>{{ a.submitted_date }}</td>
		<td>{{ a.tracker_date }}</td>
		<td>{{ a.ip }}</td>
		<td>{{ a.agent }}</td>
		<td>{{ a.data }}</td>
		<td>{{ a.course.title }}</td>
		<td>{{ a.section_title }}</td>
		<td>{{ a.activity_title }}</td>
		<td>{{ a.type }}</td>
		<td>{{ a.completed }}</td>
		<td>{{ a.time_taken }}</td>
		<td>{{ a.lang }}</td>
	</tr>
{% endfor %}


</table>


<ol>
	<li>{% trans 'The date/time as recorded by the Learn-Renewables server when the activity data was received.' %}</li>
	<li>{% trans 'The date/time as recorded by the device used when the activity happened.' %}</li>
	<li>{% trans 'Identifies the browser/device that was used' %}</li>
	<li>{% trans 'Additional data that was submitted to the server' %}</li>
	<li>{% trans 'If the activity was taken to have been completed or not' %}</li>
	<li>{% trans 'Language the Oppia app was set to when viewing the activity' %}</li>
</ol>

</body>