{% load i18n %}
{% load display_functions %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans 'Exporting Badges' %} - Learn-Renewables</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<table>
	<caption class="d-none">{% trans "Badges" %}</caption>
	<tr>
		<th scope="col">{% trans 'Badge' %}</th>
		<th scope="col">{% trans 'Description' %}</th>
		<th scope="col">{% trans 'Date' %}</th>
	</tr>
{% for b in badges %}
	<tr>
		<td>{{ b.badge.name }}</td>
		<td>{{ b.description }}</td>
		<td>{{ b.award_date }}</td>
	</tr>
{% endfor %}


</table>


</body>
</html>