{% load i18n %}
{% load display_functions %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans 'Exporting Points' %} - Learn-Renewables</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<table>
	<caption class="d-none">{% trans "Points" %}</caption>
	<tr>
		<th scope="col">{% trans 'Course' %}</th>
		<th scope="col">{% trans 'Points' %}</th>
		<th scope="col">{% trans 'Date' %}</th>
		<th scope="col">{% trans 'Description' %}</th>
		<th scope="col">{% trans 'Data' %}</th>
		<th scope="col">{% trans 'Type' %}</th>
	</tr>
{% for p in points %}
	<tr>
		<td>{{ p.course.title }}</td>
		<td>{{ p.points }}</td>
		<td>{{ p.date }}</td>
		<td>{{ p.description }}</td>
		<td>{{ p.data }}</td>
		<td>{{ p.type }}</td>
	</tr>
{% endfor %}


</table>


</body>
</html>