{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand navbar-light bg-primary navbar-drawer" id="top-bar">
     <div class="container">
    <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-light" href="{% url 'oppia:index' %}"><img class="mr-2" src="{% static "oppia/images/lr_logo.png" %}" height="30" alt="Learn-Renewables {% trans 'logo' %}"/>Learn-Renewables</a>


      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <em class="material-icons">account_circle</em>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbarDropdownMenuLink">
                    <div class="bg-light p-3">
                        <div class="primary-title">{{user.get_username}}</div>
                        <small class="text-muted">{{user.email}}</small>
                    </div>

                <a class="dropdown-item" href="{% url 'profile:edit' %}"><em class="material-icons mr-2">mode_edit</em> {% trans 'Edit Profile' %}</a>
                <a class="dropdown-item" href="{% url 'profile:points' %}"><em class="material-icons mr-2">star</em> {% trans 'Points' %}</a>
                <a class="dropdown-item" href="{% url 'profile:badges' %}"><em class="material-icons mr-2">group_work</em> {% trans 'Badges' %}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'profile:logout' %}"><em class="material-icons mr-2">exit_to_app</em> {% trans 'Logout' %}</a>

                </div>
              </li>
        </ul>
      </div>
     </div>
</nav>


<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">

        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              <em class="material-icons mr-3">input</em> {% trans 'Django Admin' %}
            </a>
            </li>
        </ul>

        <div class="navdrawer-divider my-0"></div>

        <ul class="navdrawer-nav mb-0">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'oppia:course' %}">
              <em class="material-icons mr-3">book</em> {% trans 'menu_courses' %}
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'av:index' %}">
              <em class="material-icons mr-3">video_library</em> {% trans 'Media' %}
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'oppia:cohorts' %}">
              <em class="material-icons mr-3">school</em> {% trans 'Cohorts' %}
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link collapsed position-relative" data-toggle="collapse" href="#upload-menu" role="button" aria-expanded="false">
              <em class="material-icons mr-3">arrow_upward</em> Upload
                <em class="fas fa-chevron-down expand-btn"></em>
            </a>
            </li>
        </ul>

        <div class="collapse" id="upload-menu">
            <ul class="navdrawer-nav">
                <li class="nav-item">
                <a class="nav-link pl-5" href="{% url 'profile:upload' %}">
              <em class="material-icons mr-3">account_circle</em> {% trans 'Users' %}
                </a>
                </li>

                <li class="nav-item">
                <a class="nav-link pl-5" href="{% url 'oppia:upload' %}">
                  <em class="material-icons mr-3">book</em> {% trans 'Course' %}
                </a>
                </li>

                <li class="nav-item">
                <a class="nav-link pl-5" href="{% url 'av:upload' %}">
                  <em class="material-icons mr-3">video_library</em> {% trans 'Media' %}
                </a>
                </li>

                <li class="nav-item">
                <a class="nav-link pl-5" href="{% url 'content:media_embed_helper' %}">
                  <em class="material-icons mr-3">art_track</em> {% trans 'Media Embed Helper' %}
                </a>
                </li>

                <li class="nav-item">
                <a class="nav-link pl-5" href="{% url 'activitylog:upload' %}">
                  <em class="material-icons mr-3">list_alt</em> {% trans 'Activity Log' %}
                </a>
                </li>
            </ul>
        </div>


        <p class="navdrawer-subheader"> <em class="material-icons mr-1">group</em> {% trans 'Admin' %}</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'profile:search' %}">
              <em class="material-icons mr-3">search</em> {% trans 'Search users' %}
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'profile:export' %}">
              <em class="material-icons mr-3">save_alt</em> {% trans 'Export users' %}
            </a>
            </li>
        </ul>


        <div class="navdrawer-divider"></div>

        <p class="navdrawer-subheader"><em class="material-icons mr-1">timeline</em>{% trans 'Analytics' %}</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'viz:summary' %}">
              <em class="material-icons mr-3">pie_chart</em> {% trans 'Summary Overview' %}
            </a>
            </li>

			{% if OPPIA_MAP_VISUALISATION_ENABLED %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'viz:map' %}">
              <em class="material-icons mr-3">map</em> {% trans 'Activity Map' %}
            </a>
            </li>
			{% endif %}

            {% for report in OPPIA_REPORTS %}
                <li class="nav-item">
                <a class="nav-link" href="{{ report.url }}">
                  <em class="material-icons mr-3">vertical_split</em> {{ report.name }}
                </a>
                </li>
            {% endfor %}
        </ul>

		<div class="navdrawer-divider"></div>

		<ul class="navdrawer-nav">
			<li class="nav-item">
			<a class="nav-link" href="{% url 'integrations:index' %}">
				<em class="material-icons mr-1">extension</em> {% trans 'Integrations' %}
			</a>
			</li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'integrations:dhis:index' %}">
              <em class="material-icons mr-3">perm_media</em> {% trans 'DHIS2' %}
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'integrations:xapi:index' %}">
              <em class="material-icons mr-3">perm_media</em> {% trans 'xAPI' %}
            </a>
            </li>
        </ul>
		
    </div>
  </div>
</div>