{% load i18n %}
{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block extra_head_title %}{% endblock extra_head_title %} - Learn-Renewables</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META name="description" content="Learn-Renewables learning"/>
	<META name="keywords" content="oppia, oppiamobile, oppia-mobile, quiz, assessment, mobile, android, learning, video, media"/>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="{% sass_src 'css/oppia.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "oppia/images/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "oppia/images/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "oppia/images/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "oppia/images/favicon/manifest.json" %}">
	<link rel="mask-icon" href="{% static "oppia/images/favicon/safari-pinned-tab.svg" %}" color="#00a300">
	<meta name="theme-color" content="#ffffff">

    {% block extra_styles %}
    {% endblock extra_styles %}

</head>

<body class="d-flex flex-column" {% block extra_body %}{% endblock extra_body %}>

{% if CRON_WARNING and request.user.is_authenticated and request.user.is_superuser %}
    <div class="fixed-bottom alert alert-danger alert-dismissable debug-alert" style="z-index:200;">
       <a href="#" class="close ml-2" data-dismiss="alert" aria-label="close">&times;</a>
       <em class="material-icons mr-2 float-left">bug_report</em>
       {% trans 'Cron tasks have not been run for over 7 days' %}
    </div>
{% endif %}

{% if DEBUG %}
     <div class="fixed-bottom alert alert-danger alert-dismissable debug-alert" style="z-index:200;">
        <a href="#" class="close ml-2" data-dismiss="alert" aria-label="close">&times;</a>
        <em class="material-icons mr-2 float-left">bug_report</em>
        {% trans 'This is a development server, anything added here will not be shared on the live site' %}
     </div>
{% endif %}

{% include "includes/header.html" %}

<div id="main-content">
    <div id="contents">
        {% block header %}
        {% endblock header %}

        <section class="container-fluid flex-grow">
            <div class="main">
            {% block content %}
            {% endblock content %}
            </div> <!--  end main -->
        </section> <!--  end container -->
    </div>
    <footer class="bg-light text-dark mt-5">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-9 pb-2 text-center text-md-left">
                        <a href="{% url 'oppia:about' %}">{% trans 'footer_about' %}</a> |
                        <a href="{% url 'oppia:about' %}#terms">{% trans 'footer_terms' %}</a>
                </div>
                <div class="col-md-3 align-self-end pb-2 text-center text-md-right">{{ version }} &copy; {% now "Y" %} {% trans 'Powered by' %} <a href="https://digital-campus.org/oppiamobile">OppiaMobile</a></div>
            </div>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'oppia/js/material.min.js' %}"></script>

<script src="{% static 'oppia/js/common.js' %}?v=3"></script>


{% block extra_scripts %}
{% endblock extra_scripts %}

{% if OPPIA_GOOGLE_ANALYTICS_ENABLED %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', '{{ OPPIA_GOOGLE_ANALYTICS_CODE }}', '{{ OPPIA_GOOGLE_ANALYTICS_DOMAIN }}');
	  ga('send', 'pageview');
	</script>
{% endif %}
</body>
</html>

